<% layout("/boilerplate.ejs", { currentPage: 'contacts' }) %>
    <link rel="stylesheet" href="/stylesheets/contact.css">

    <nav class="navbar">
        <div class="brand">
            <a href="/about"><img class="brand-image" src="/image0.png" alt=""></a>
        </div>
        <div class="nav-items">
            <a href="/" class="nav-link">Home</a>
            <a href="/about" class="nav-link">About</a>
            <a href="/projects" class="nav-link">Projects</a>
            <a href="/contacts" class="nav-link active">Contacts</a>
        </div>
    </nav>
    <h1 class="intro-text">Contact Us</h1>
    <div class="contacts">
        <div class="phone-box">
            <span class="phone"><i class="fa fa-mobile phone"></i></span>
            <h5 class="phone-h5">Phone Us</h5>
            <p class="phone-text">Ian Mcdonals - Senior Partner</p>
            <p class="phone-text">+37008084256</p>
            <p class="phone-text">Fro General Questions</p>
            <p class="phone-text">+37086596478</p>
        </div>
        <div class="mail-box">
            <span class="mail"><i class="fa fa-envelope mail"></i></span>
            <h5 class="mail-h5">Write To Email</h5>
            <p class="mail-text">For Orders</p>
            <p class="mail-text">archimega@studio.com</p>
            <p class="mail-text">For questions</p>
            <p class="mail-text">archimega.info@studio.com</p>
        </div>
        <div class="social-box">
            <span class="social"><i class="fa fa-globe social"></i></span>
            <h5 class="social-h5">Also Follow Us<br>On Social Media</h5>
            <div class="soc-list">
                <a class="soc-link" href="#"><i class="fab fa-facebook-square soc-link"></i></a>
                <a class="soc-link" href="#"><i class="fab fa-instagram soc-link"></i></a>
                <br>
                <a class="soc-link-bottom" href="#"><i class="fab fa-twitter soc-link-bottom"></i></a>
                <a class="soc-link-bottom" href="#"><i class="fab fa-linkedin soc-link-bottom"></i></a>
            </div>
        </div>
    </div>