<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archimega</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>

<body>
    <header class="container">
        <div class="brand">
            <a href="/"><img class="brand-image" src="/image0.png" alt=""></a>
        </div>
        <div class="navbar">
            <a href="/" class="nav-item active">Home</a>
            <a href="/about" class="nav-item">About</a>
            <a href="/projects" class="nav-item">Projects</a>
            <a href="/contacts" class="nav-item">Contacts</a>
        </div>
    </header>

    <div class="intro">
        <h4 class="welcome-text">Hello! We are ARCHIMEGA!</h4>
        <div class="intro-text-box">
            <p class="intro-text">We do interior and exterior 3d visualizations. 8 years of
                experience and our team of experienced professionals will guarantee the best quality!
            </p>
        </div>
        <a href="/projects" class="view-button">View Projects</a>
    </div>

    <footer class="copyright">
        <p class="copyright-content">&copy; 2024, Archimega</p>
    </footer>


</body>

</html>